 input,select, textarea{
     box-shadow: none !important;
}
.section-bg input:focus,.section-bg select:focus, .section-bg textarea:focus {
     border:1px solid #ed193f !important;
}
input::placeholder {
     color: #a79e9e !important;
}

.people-list input::placeholder {
     color:#fff !important;
}


.checked, .price span {
 color: #ffc107!important;
}

.header-bg {
     background-image: url(../../assets/images/home_hero_image_default.jpg); 
     padding-top: 90px; 
     padding-bottom: 100px; 
     margin: 0; 
     background-size: cover; 
     background-position: center;
}

.bg-white {background: white}

.emc2-bg {
 color: #ed193f;
}

.property-item .property-label__type.show-email, 
.property-item .property-label__type.show-phone {
    padding: 3px 12px !important;
    min-width: 166px !important;
    margin-bottom: 10px;
    border:none;
    color:#fff;
    border-radius:5px;
}

.property-item .property-label__type.show-phone {
     background: #ed193f;
}

.host-btn {
     padding: 5px 20px;
     background: #ed193f;
     margin-right: 15px;
     border-color: #ed193f;
     margin-top: 30px;
     margin-bottom: 25px;
}
.host-btn:hover {
     background: #898a8c;
     border-color: #898a8c;
}
.border-btns {
     padding: 5px 20px;
     background: #fff;
     border-color: #ed193f;
     color: #ed193f;
     margin-top: 30px;
     margin-bottom: 25px;
}
.border-btns:hover {
     background: #898a8c;
     border-color: #898a8c;
}
#header.scrolled #navbar .navbar-btn {
     margin-top: 18px;
     margin-bottom: 18px;
     transition: all ease-in-out .2s;
     -webkit-transition: all ease-in-out .2s;
     -moz-transition: all ease-in-out .2s;
}
.property-item .property-footer [class*="item-"] {
     color: #333;
     float: left;
     display: block;
     width: 33%;
     text-align: center;
     line-height: 18px;
     border-right: 1px solid #ddd;
     padding: 11px 0;
}

.contact-icon p {
    margin-bottom: 8px;
}

.contact-icon {
     padding-bottom: 8px;
}

.feature-list-icon p {
     margin-bottom: 0px;
}

.contact-icon i {
     color:#ed193f;
     margin-right: 3px;
     font-size: 16px;
}
.property-item .property-footer [class*="item-"] span {
     color: #ed193f;
     font-size: 18px;
     margin-right: 6px;
     vertical-align: middle;
     position: relative;
     top: -1px;
}
.btn-facebook {
     background-color: #405D9D;
     color: #fff;
     padding:4px 15px;
     height:44px;
}
.btn-facebook:hover {
     color:#fff;
}
.login-popup .modal-content {
     border-radius: 4px !important;
     border:none !important;
}
.login-popup input:focus {
     box-shadow: none !important;
     border:1px solid #ed193f;
}
.login-popup input {
     box-shadow: none !important;
     border-radius: 3px !important;
     padding-left: 40px !important;
     margin-bottom: 20px !important;
     height:46x;
}
.btn-twitter {
     background-color: #fff;
     color: #000;
     margin-top: 10px !important;
     border:1px solid #666;
}
.login-btn, .sign-up {
     background:#ed193f;
     color:#fff;
     width:100%;
     font-size: 15px;
     padding:4px 0px;
     height:44px;
     margin-top: 5px;
}
.login-btn:hover, .sign-up:hover {
     color:#fff;
     background: #bc0728;
     border-color:#bc0728;
}
.modal-footer a {
     color:#898a8c;
}
.forgot {
     color:#161f28 !important;
     font-size: 16px;
     cursor: pointer;
     text-decoration: none;
}
.forgot:hover {
     color:#ed193f !important;
     text-decoration: underline;
}
.back-login {
     color:#ed193f;
     cursor: pointer;
}
.login-popup .modal-title {
     font-size: 22px;
}
.modal-header .close.close-login {
     margin-top: 5px;
}
.login-popup .modal-header {
     padding:15px 20px !important;
}
.close-login {
     opacity: 1;
     color:#6b6b6b;
     font-size: 18px;
     font-size: 25px;
}
.divider-text {
     position: relative;
     text-align: center;
     margin-top: 15px;
     margin-bottom: 15px;
}
.divider-text span {
     padding: 10px;
     background: #fff;
     font-size: 14px;
     position: relative;
     z-index: 2;
}
.divider-text:after {
     content: "";
     position: absolute;
     width: 100%;
     border-bottom: 1px solid #ddd;
     top: 55%;
     left: 0;
     z-index: 1;
}
.login-popup .modal-body {
     padding: 25px 20px 10px 20px !important;
}
.login-popup .modal-dialog {
     max-width: 500px;
}


.sign-btn {
    border-radius:0px; 
    border-bottom-right-radius: 5px; 
    background: #ed193f !important; 
    border-color: #ed193f !important;   
    margin: 0px;
    height: 30px;
    padding: 0px 19px;
}

.sign-btn:hover {
     background: #bc0728 !important;
     border-color: #bc0728 !important;   

}

.signin-btn {
 border-radius:0px; 
 border-bottom-left-radius: 5px;  
 margin: 0px;
 color:#fff !important;
 height: 30px;
 padding: 0px 19px;
}

.login-popup .modal-footer p {
     font-size: 16px;
     padding-top: 0px;
     color:#000;
}
.login-popup .modal-footer {
     padding: 15px 20px 15px 20px !important;
}
.remb {
     font-size: 15px !important;
     font-weight: normal;
     color:#666;
}
.lock-icon, .mail-icon {
     z-index: 999;
     top: 16px;
     left: 15px;
     font-size: 16px;
     position: absolute;
}
.fb {
     padding-right: 6px;
     font-size: 18px;
     padding-top: 8px;
}
.fname-padd {
     padding-left:0px !important;
     padding-right: 8px;
}
.lname-padd {
     padding-right:0px !important;
     padding-left:8px;
}

.usr {
     border-radius: 50%;
     width:28px;
     margin 
}
#header #navbar .dropdown > a::after {
     display:none !important;
}
/*#header #navbar .dropdown .dropdown-menu:before {
     position: absolute;
     top: -6px;
     right: 10px;
     display: inline-block !important;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #ed193f;
     border-left: 6px solid transparent;
     content: '';
}
*/
/*Check box*/
input[type="checkbox"] + .label-text:before{
     content: "\f096";
     font-family: "FontAwesome";
     speak: none;
     font-style: normal;
     font-weight: normal;
     position: relative;
     top:2px;
     color:#ed193f;
     font-variant: normal;
     font-size: 20px;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing:antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 2px;
}
input[type="checkbox"]:checked + .label-text:before{
     content: "\f14a";
     color: #ed193f;
     animation: effect 250ms ease-in;
}
input[type="checkbox"]:disabled + .label-text{
     color: #aaa;
}
input[type="checkbox"]:disabled + .label-text:before{
     content: "\f0c8";
     color: #ccc;
}
input[type="checkbox"], input[type="radio"]{
     position: absolute;
     right: 9000px;
}
/* Become Space Section */
.section-bg {
     background: url('../images/house_bg.png') no-repeat center 50px;
     padding:50px 0px 60px;
}
.section-bg hr {
     border-top: 1px solid #cdcbcb;
}
.section-bg h2 {
     padding-bottom: 15px;
     line-height: 35px;
}
.section-bg .form-group label{
     font-size: 16px;
     padding-top: 10px;
     /*color:#555;*/
     /*font-weight: normal;*/
     color: #413d3d;
}
.section-bg p {
     line-height: 20px;
     font-size: 16px;
}
.section-bg select, .section-bg input {
     font-size: 16px;
     color:#656565;
    /*border-radius: 3px !important;
    */
    border:1px solid rgba(0, 0, 0, 0.25);
}
.become-space p {
     font-weight: 600;
     font-size:18px;
     margin-bottom: 5px;
     padding-top: 15px;
}
.become-space h3 {
     color:#666;
     padding-bottom: 10px;
     margin-top: 0px;
     font-weight: normal;
}
.become-space .cont-btn , .profile_pg .cont-btn {
     width:100%;
     background: #ed193f;
     padding: 7px 0px;
     color:#fff;
}
.become-space .cont-btn:hover , .profile_pg .cont-btn:hover {
     background: #bc0728;
     color: #fff;
}
/* Room Form Start */
/*Radio box*/
.form-check {
     margin-left: -17px;
}
.next-btn {
     background:#ed193f;
     color:#fff;
     padding:8px 16px;
}
.next-btn:hover {
     background:#bc0728;
     color:#fff;
}
.next-btn:focus, .back-btn:focus {
     color:#fff;
}
.back-btn {
     background:#898a8c;
     color:#fff;
     padding:8px 16px;
}

.back-btn:hover {
     background:#767677;
     color:#fff;
}
.radio-btn p {
     padding-top:15px;
     padding-bottom: 15px !important;
     margin-bottom: 0px !important;
     font-size:18px;
     font-weight: 500;
     color:#767676 !important;
}
.radio-btn label {
     padding-top: 0px;
}
.thyg-p {
     padding-top: 30px;
     font-size:15px;
}
.hab-p {
     font-size: 15px;
}
input[type="radio"] + .label-text:before{
     content: "\f10c";
     font-family: "FontAwesome";
     speak: none;
     font-size: 18px;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     color:#ed193f;
     -webkit-font-smoothing:antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 5px;
}
input[type="radio"]:checked + .label-text:before{
     content: "\f192";
     color: #ed193f;
     animation: effect 250ms ease-in;
}
input[type="radio"]:disabled + .label-text{
     color: #aaa;
}
input[type="radio"]:disabled + .label-text:before{
     content: "\f111";
     color: #ccc;
}
/*Radio Toggle*/
.toggle input[type="radio"] + .label-text:before{
     content: "\f204";
     font-family: "FontAwesome";
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing:antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 10px;
}
.toggle input[type="radio"]:checked + .label-text:before{
     content: "\f205";
     color: #16a085;
     animation: effect 250ms ease-in;
}
.toggle input[type="radio"]:disabled + .label-text{
     color: #aaa;
}
.toggle input[type="radio"]:disabled + .label-text:before{
     content: "\f204";
     color: #ccc;
}
/* Bedrooms Section */
.number-btn-left {
     background: #161f28;
     color:#fff;
     border:1px solid #161f28;
}
.number-btn-left:hover, .number-btn-left:focus {
     color:#fff;
}
.number-btn-right {
     background:#ed193f;
     color:#fff;
     border:1px solid #ed193f;
}
.number-btn-right:hover, .number-btn-right:focus {
     color:#fff;
}
/* Bedrooms Section Start */
.bedroom h2 {
     padding-bottom: 30px;
}
.bedroom label, .bathrooms label {
     font-size:18px;
     padding-top: 10px;
}
.add-bed-btn {
     border:1px solid #ed193f;
     background: #fff;
     text-transform: capitalize;
     padding:8px 25px;
     color:#ed193f;
     font-size:16px;
}
.add-bed-btn:hover {
     background: #ed193f;
     color:#fff;
}
.bed-list h4{
     font-size:20px;
     margin-top: 0px;
     color:#666;
     margin-bottom: 4px;
}
.bed-list p{
     font-size:18px;
     margin-bottom: 0px;
     color:#767676 !important;
}
.gray-color {
     color:#767676 !important;
}
.double-bed h5 {
     margin:0px 0px;
     font-size: 18px;
}
.double-bed p {
     font-size: 16px;
}
.add-bed-outer {
     padding-top: 20px;
}
.bed-inner {
     padding-top: 15px;
}
.show-detail {
     display:none;
}
/* Bath Room Section*/
.bath-inner {
     padding-bottom: 60px;
     padding-top: 30px;
}
.location_map .rrk-p {
     font-size:16px;
     color:#666;
}
.location_map .inyc-p {
     color:#000 !important;
     font-size:16px;
}
.check-padd {
     padding-left: 45px;
}
.location_map label {
     margin-bottom: 15px;
}
.location_map h4 {
     padding: 25px 0px 5px;
}
.show-space p{
     font-size: 16px;
     margin-bottom: 0px;
}
.show-space h3 {
     margin-top:15px;
     font-size: 20px;
     margin-bottom:5px;
}
.change-p:hover {
     text-decoration: underline;
}
.change-p {
     padding-top:10px;
}

.dark-sky {
     color:#ed193f;
}
.gray {
     color:#767676;
}
.step {
     font-weight: 600;
     color:#767676;
     font-size: 16px;
     text-transform: uppercase;
     margin-bottom: 0px;
}
.back-btn.reset-btn a{
     background: #ed193f !important;
     color:#fff !important;
}
.guest-req p {
     font-size: 18px;
}
.guest-req ul li {
     font-size: 16px;
     line-height: 40px;
}
.padd-top {
     padding-top: 15px;
}

.padd-top-30 {
     padding-top: 30px;
}

.guest-show-check {
     display: none;
}
.add-req {
     color:#ed193f;
     cursor: pointer;
}
.add-req-change {
     color:#333;
     text-decoration: none;
}
.add-req:hover {
     color:#2bb897;
     text-decoration: underline;
}
.btn-default.btn-on.active{
     background-color: #ed193f;
     color: white;
     border: 1px solid #ed193f;
}
.btn-default.btn-on:hover {
     background-color: #ed193f;
     border-color: #ed193f;
     color:#fff;
}
.btn-default.btn-off:hover {
     background-color: #898a8c;
     border-color: #898a8c;
     color:#fff;
}
.btn-default.btn-off.active{
 background-color: #898a8c;
 color: white;
 border: 1px solid #898a8c;
}
.house-rule p {
     font-size: 16px;
}
.house-rule .form-group .add-form{
     margin: 5px 0px 20px;
}
.house-rule .form-group label {
     font-size: 18px;
}
.house-rule .add-rule {
     background-color:#ed193f;
     border-color: #ed193f;
     color:#fff;
     padding:10px 20px;
     text-transform: capitalize;
     font-size: 18px;
}
.uploader {
     display: block;
     clear: both;
     margin: 0 auto;
     width: 100%;
     max-width: 600px;
}
.uploader label {
     float: left;
     clear: both;
     width: 100%;
     padding: 2rem 1.5rem;
     text-align: center;
     background: none;
     border-radius: 7px;
     border: 2px dashed #ed193f;
     -webkit-transition: all .2s ease;
     transition: all .2s ease;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
.uploader label:hover {
     border-color: #161f28;
}
.uploader label.hover {
     border: 3px solid #454cad;
     box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
     opacity: 0.3;
}
.uploader #start {
     float: left;
     clear: both;
     width: 100%;
}
.uploader #start.hidden {
     display: none;
}
.uploader #start i.fa {
     font-size: 50px;
     margin-bottom: 1rem;
     -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}
.uploader #response {
     float: left;
     clear: both;
     width: 100%;
}
.uploader #response.hidden {
     display: none;
}
.uploader #response #messages {
     margin-bottom: .5rem;
}
.uploader #file-image {
     display: inline;
     margin: 0 auto .5rem auto;
     width: auto;
     height: auto;
     max-width: 180px;
}
.uploader #file-image.hidden {
     display: none;
}
.uploader #notimage {
     display: block;
     float: left;
     clear: both;
     width: 100%;
}
.uploader #notimage.hidden {
     display: none;
}
.uploader progress, .uploader .progress {
     display: inline;
     clear: both;
     margin: 0 auto;
     width: 100%;
     max-width: 180px;
     height: 8px;
     border: 0;
     border-radius: 4px;
     background-color: #eee;
     overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
     border-radius: 4px;
     background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
     background: -webkit-linear-gradient(left, #393f90 0%, #454cad 50%);
     background: linear-gradient(to right, #393f90 0%, #454cad 50%);
     border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
     background: linear-gradient(to right, #393f90 0%, #454cad 50%);
     border-radius: 4px;
}
.uploader input[type="file"] {
     display: none;
}
.uploader div {
     margin: 0 0 .5rem 0;
     color: #5f6982;
}
.uploader .btn {
     display: inline-block;
     margin: .5rem .5rem 1rem .5rem;
     clear: both;
     font-family: inherit;
     font-weight: 700;
     font-size: 14px;
     text-decoration: none;
     text-transform: initial;
     border: none;
     border-radius: .2rem;
     outline: none;
     padding: 0 1rem;
     height: 36px;
     line-height: 36px;
     color: #fff;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     box-sizing: border-box;
     background: #161f28;
     border-color:#161f28;
     cursor: pointer;
}
/* .nav-tabs li {
     width:100%;
}
*/
.nav-tabs li a {
     text-align: left;
}
.slide-property {
     margin-top: 65px;
}
.price-text {
     font-size: 20px;
     cursor: pointer;
}
.price-p {
     padding-left: 40px;
     font-weight: normal;
     padding-bottom: 15px;
     padding-top: 5px;
}
.section-bg mark {
     background: #23c5a740;
     color: #444;
     padding: 4px 10px;
     border-radius: 3px;
     font-size: 14px;
     margin:15px 0px 0px 40px;
}
.yar-p {
     padding-top: 30px;
     font-size: 14px !important;
}
.price-range .dollar {
     z-index: 999;
     top: 41px;
     left: 15px;
     font-size: 16px;
     position: absolute;
}
.price-range .dollar.zero {
     top:43px;
}
.price-range input {
     padding-left: 26px;
}
.price-range label {
     font-size: 16px;
     color:#555;
}
.local-laws p{
     color:#666;
     padding-top: 10px;
     font-size: 14px !important;
}
.hide_error {
     display: none !important;
}
.pac-container .pac-item:first-child {
     border-top: 0 !important;
}
.pac-container .pac-item {
     font-size: 1.4rem;
     padding: 10px 20px;
     cursor: pointer;
}
.pac-item {
     cursor: default;
     padding: 0 4px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     line-height: 30px;
     text-align: left;
     border-top: 1px solid #e6e6e6;
     font-size: 11px;
     color: #999;
}
.pac-item:hover{
     color: #00D5C3 !important;
}
.pac-icon-marker {
     display: none !important;
}
/* Panel Form */
.panel-bg {
     padding: 70px 0px 60px;
}
.panel-bg .panel {
     border: 1px solid #ed193f;
     box-shadow: 0px 0px 24px #00000014;
}
.panel-bg .form-control {
     border-radius: 3px !important;
}
.panel-bg .form-group input, .panel-bg .form-group select {
     height: 42px;
}
.panel-bg hr {
     margin-top: 10px;
}
.panel-bg .panel-default {
     box-shadow: 0px 0px 24px #00000014;
     border-color: #ed193f;
}
.panel-bg .panel-heading {
     background:#ed193f;
     color:#fff;
     font-size: 18px;
     padding:8px 15px;
     border:1px solid #ed193f;
}
.panel-bg .panel-body {
     padding:45px;
}
.panel-bg .panel-icon {
     margin-top: -4px;
     padding-right: 5px;
}
.panel-bg .tabmenu-body {
     margin-top: 35px;
}
.panel-bg .search-tabmenu .tabmenu-header {
     background: none;
}
.panel-bg .submit {
     margin-top:15px;
     font-size: 16px;
     padding:10px 30px;
}
.panel-bg .submit.account {
     width: 100%;
     height: 42px;
     background: #ed193f;
     margin-top: 29px;
     padding-top: 5px;
}
.panel-bg .nav > li > a {
     padding:10px 24px;
}
.panel.with-nav-tabs .panel-heading{
     padding: 5px 0px 0 5px;
    /*border-bottom: 1px solid #8e8585;
    */
}
.panel.with-nav-tabs .nav-tabs{
     border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
     margin-bottom: -1px;
}
.policy-list .list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}
.policy-list .list-group-item:last-child {
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
}
.policy-list .list-group-item.active {
     background-color: #a2a3a6;
     border-color:#a2a3a6;
}
.policy-list .list-group-item.active i {
     color:#fff;
}
.list-group.policy-list {
     box-shadow: 0px 0px 24px #00000014;
}
.policy-list a.list-group-item i {
     display:none;
     float: left;
     padding-right: 5px;
     color:#ed193f;
     padding-top: 5px;
     -webkit-transition: all ease-in-out 2s !important;
}
.policy-list a.list-group-item:hover i{
     display:block;
}
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
     color: #fff;
    /*width:185px;
    */
    text-align: center;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a, .with-nav-tabs.panel-default .nav-tabs > .open > a:hover, .with-nav-tabs.panel-default .nav-tabs > .open > a:focus, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
     color: #fff;
     background-color: #ed193f;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
     color: #555;
     background-color: #fff;
    /*border-color: #fff;
    */
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
     background-color: #f5f5f5;
     border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
     color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
     background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a, .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
     color: #fff;
     background-color: #555;
}
.btn-bs-file{
     position:relative;
     font-size: 15px;
     padding: 8px 15px;
}
.btn-bs-file:hover {
     background-color: #767677;
     border-color: #767677;
}
.btn-bs-file img {
     margin-top: -2px;
     margin-right: 5px;
}
.btn-bs-file input[type="file"]{
     position: absolute;
     top: -9999999;
     filter: alpha(opacity=0);
     opacity: 0;
     width:0;
     height:0;
     outline: none;
     cursor: inherit;
}
.list-group.edit-list {
     margin-top: 30px;
}
.edit-list a.list-group-item:hover {
     border-right:3px solid #ed193f;
}
.edit-list .list-group-item.active {
     background: #161f28;
     border-color: #161f28;
}
.moving-listing a {
     color:#ed193f;
     font-size:15px;
     font-weight: normal 
}
.moving-listing a:hover {
     color:#ed193f;
}
/* Panel Foem End */
.nb-form ul {
     margin:0px;
     color:#666;
     font-size: 15px;
}
.insurance-bullet, .moving-listing {
     display:none;
}
.read-more {
     color:#ed193f;
     font-size:16px;
}
.payment-form .label-success, .payment-form .label-danger {
     font-size: 13px;
     padding:4px 10px;
}
.payment-form .nb-property-detail {
     margin-top: 35px;
     margin-bottom: 10px;
}
.soaw-p {
     font-size: 16px;
     padding-top: 7px;
}
/* Sidebar Menu */
.sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 9999999;
     top: 0;
     right: 0;
     background-color: #161f28;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
}
.sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 18px;
     color: #818181;
     display: block;
     transition: 0.3s;
}
.sidenav a:hover {
     color: #f1f1f1;
}
.sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
}
#main {
    /*transition: margin-left .5s;
    */
    margin-top: 5px;
    margin-bottom: 0px;
}
#header.scrolled #navbar .navbar-nav > li > span {
     margin-top: 20px;
     margin-bottom: 20px;
}
.opc {
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.60);
     position: fixed;
     top: 0;
     display: none;
     z-index: 2222222;
}
.affix {
     top: 130px;
     width: 27%;
}
.list-group.user-dashboard {
     box-shadow: 0px 0px 24px #00000014;
}
.user-dashboard .list-group-item.active {
     background-color: #898a8c;
     border-color: #898a8c;
}
.user-dashboard a {
     font-size: 15px;
}
.user-dashboard a:hover, .user-dashboard a:focus {
     border-left: 3px solid #ed193f;
}
.user-dashboard .list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}
.user-dashboard i {
     padding-right: 15px;
     color:#898a8c;
}
.user-dashboard .list-group-item:hover i, .user-dashboard .list-group-item:focus i {
     color:#ed193f;
}
.date-picker-wrapper {
     z-index: 1;
}
.user-dashboard .list-group-item:last-child {
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
}
#sidebar-compare .compare-toggle.heart-toggle {
     left: -50px !important;
     width: 50px !important;
}
#customizer form {
     padding-top: 10px;
}
#header #navbar .dropdown-menu > li a:hover {
     background-color: #f5f5f5;
     color:#ed193f;
     border-left: 3px solid #ed193f;
}
.usr-profile {
     border-top: 4px solid #ed193f !important;
}
.profile-box h2 {
     margin-top: 5px;
}
.user-dashboard .list-group-item.active i{
     color:#fff;
}
.panel-bg .panel.booking-panel {
     border:none;
}
.affix-nav {
     width:20%;
     position: fixed;
}
.padd-zero {
     padding:0px;
}
.btn-compare.btn-booking {
     right:35px;
}
.no-padding {
     padding:0px !important;
}
.property-item.booking-item.property-archive.property-archive .property-content {
     border-top: 1px solid #d8d5d5;
}
.panel-bg .panel-inner .panel-heading {
     background: #ddd;
     color:#333;
     border: 1px solid #ddd;
     padding:5px 0px 5px 15px;
}
.panel.panel-inner {
     border-radius: 0;
}
.panel-bg .panel.panel-inner {
     border: 1px solid #ddd;
     box-shadow: none !important;
     box-shadow: 0px 0px 24px #00000014;
}
.next-btn.list-btn, .back-btn.list-btn {
     padding: 10px 16px;
     font-size: 18px;
}
.btn-listing {
     padding:6px 15px;
     font-size: 13px;
     margin-right: 15px;
     margin-top: 5px;
}
.show-load {
     display: none;
}
.show-pack {
     display: none;
}
.house-rule #status {
     margin-bottom: 8px;
}

.scroll-top-wrapper {
 position: fixed;
 opacity: 0;
 visibility: hidden;
 overflow: hidden;
 text-align: center;
 z-index: 99999999;
 background-color: #ed193f;
 border:1px solid #ed193f;
 color: #eeeeee;
 width: 40px;
 height: 40px;
 line-height: 34px;
 right: 30px;
 bottom: 8px;
 padding-top: 2px;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
     background-color: #898a8c;
     border:1px solid #898a8c;
}
.scroll-top-wrapper.show {
 visibility:visible;
 cursor:pointer;
 opacity: 1.0;
}
.scroll-top-wrapper i.fa {
     line-height: inherit;
}

.centered-modal.in {
 display: flex !important;
}
.centered-modal .modal-dialog {
 margin: auto;
}


/* footer social icons */

.social-icon ul.social-network {
     list-style: none;
     display: inline;
     margin-left:0 !important;
     padding: 15px 0px;
}
.social-icon ul.social-network li {
     display: inline;
     margin: 0 3px;
}

.social-icon {
     margin-top: 15px;
}

.social-circle i {
     font-size: 18px !important;
}


.social-network a.icoFacebook {
     background-color:#3B5998;
     border:1px solid #3B5998;

}
.social-network a.icoTwitter {
     background-color:#33ccff;
     border:1px solid #33ccff;

}
.social-network a.icoInsta {
     background-color:#0976b4;
     border:1px solid #0976b4;
}

.social-network a.icoGoogle {
 background-color: #BD3518;
 border:1px solid #BD3518;

}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoTwitter:hover i {
     color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
     color:#44BCDD;
}
.social-circle li a {
     display:inline-block;
     position:relative;
     margin:0 auto 0 auto;
     border-radius:50%;
     text-align:center;
     border:1px solid #ed193f;
     /*background: #ed193f;*/
     width: 42px;
     height: 42px;
     font-size:20px;
}
.social-circle li i {
     margin:0;
     line-height:33px;
     text-align: center;
}

.content-wrapper .title {
     font-size: 38px;
     line-height: 40px;
     text-transform: uppercase;
     text-align: center;
     font-weight: bold;
     margin-top: 0;
     margin-bottom: 20px;
     color: #fff;

}

.agent-logo {
  margin-top: 5px;
  float:right;
}


.content-wrapper .description {
 text-align: center;
 color: #fff;
 font-size: 20px; 
 line-height: 24px;
 margin-bottom: 40px;
}

.social-circle li a:hover i, .triggeredHover {
     -moz-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -ms--transform: rotate(360deg);
     transform: rotate(360deg);
     -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -o-transition: all 0.2s;
     -ms-transition: all 0.2s;
     transition: all 0.2s;
}
.social-circle i {
     color: #fff;
     -webkit-transition: all 0.8s;
     -moz-transition: all 0.8s;
     -o-transition: all 0.8s;
     -ms-transition: all 0.8s;
     transition: all 0.8s;
}

.advanced-search label {
     font-size: 15px;
     color: #666;     
}

.rating {
     padding-bottom: 15px;
}

.property-item.property-archive .property-image.listing-property-img {
     height:310px;
}

.property-item.property-archive.property-archive .property-content.listing-content {
     height: unset;
}

.section-bg .label-success, .section-bg .label-danger {
     font-weight: 500;
     padding:2px 7px 1px 7px; 
     margin-left: 20px;
     font-size: 11px;

}

.account-setting-tab li {
     font-size:16px;
}

.section-padd-bottom {
     padding-bottom: 0px !important;
}

.search-btn {
     background: #ed193f;
     border:none;
     height:48px;
     border: 1px solid rgb(140, 142, 144);
     border-radius: 0px !important;
}

.search-btn:hover {
     background: #2bb897;
     border-radius: 0px !important;

}

.no-padd-left {
     padding-left: 0px;
}

.no-padd-right {
     padding-right: 0px;
}

.header-index-bg {
     background-image: url(../../assets/images/home_hero_image_default.jpg); 
     height:600px; 
     padding-top: 90px;
     padding-bottom: 280px; 
     margin: 0; 
     background-size:cover; 
     background-position: center;
}

.checklist-box .remb {
     color:#666;
     padding-left: 1px;
}


.btn-bs-file.upload-photos  {
     background: #898a8c;
     color:#fff;
     border-radius: 3px;
}


.file_input{
  display: inline-block;
  padding: 10px 16px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  color: #008BFF;
  border: 1px solid #008BFF;
  vertical-align: middle;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.file_input:hover,
.file_input:active {
  background: #008BFF;
  color: #fff;
}

.jFiler-input-dragDrop {
 display: block;
 width: 100%;
 margin: 0 auto 25px auto;
 padding: 40px 15px 35px 15px;
 color: #8d9499;
 color: #97A1A8;
 background: #fff;
 border: 2px dashed #ed193f;
 text-align: center;
 -webkit-transition: box-shadow 0.3s,
 border-color 0.3s;
 -moz-transition: box-shadow 0.3s,
 border-color 0.3s;
 transition: box-shadow 0.3s,
 border-color 0.3s;
}

.jFiler.dragged .jFiler-input-dragDrop {
 border-color: #aaa;
 box-shadow: inset 0 0 20px rgba(0,0,0,.08);
}

.jFiler.dragged .jFiler-input-dragDrop * {
 pointer-events: none;
}

.jFiler.dragged .jFiler-input-icon {
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 transform: rotate(180deg);
}

.jFiler.dragged .jFiler-input-text,
.jFiler.dragged .jFiler-input-choose-btn {
 filter: alpha(opacity=30);
 opacity: 0.3;
}

.jFiler-input-dragDrop .jFiler-input-icon {
 font-size: 48px;
 margin-top: -10px;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 transition: all 0.3s ease;
}

.jFiler-input-text h3 {
 margin: 0;
 font-size: 18px;
}

.jFiler-input-text span {
 font-size: 12px;
}

.jFiler-input-choose-btn {
 display: inline-block;
 padding: 8px 14px;
 outline: none;
 cursor: pointer;
 text-decoration: none;
 text-align: center;
 white-space: nowrap;
 font-size: 12px;
 font-weight: bold;
 color: #8d9496;
 border-radius: 3px;
 border: 1px solid #c6c6c6;
 vertical-align: middle;
 background-color: #fff;
 box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
 -webkit-transition: all 0.2s;
 -moz-transition: all 0.2s;
 transition: all 0.2s;
}

.jFiler-input-choose-btn:hover,
.jFiler-input-choose-btn:active {
 color: inherit;
}

.jFiler-input-choose-btn:active {
 background-color: #f5f5f5;
}

/* gray */
.jFiler-input-choose-btn.gray {
 background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#f5f5f5));
 background-image: -webkit-linear-gradient(top,#fcfcfc,#f5f5f5);
 background-image: -o-linear-gradient(top,#fcfcfc,#f5f5f5);
 background-image: linear-gradient(to bottom,#fcfcfc,#f5f5f5);
 background-image: -moz-linear-gradient(top,#fcfcfc,#f5f5f5);
}

.jFiler-input-choose-btn.gray:hover {
 filter: alpha(opacity=87);
 opacity: 0.87;
}

.jFiler-input-choose-btn.gray:active {
 background-color: #f5f5f5;
 background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fcfcfc));
 background-image: -webkit-linear-gradient(top,#f5f5f5,#fcfcfc);
 background-image: -o-linear-gradient(top,#f5f5f5,#fcfcfc);
 background-image: linear-gradient(to bottom,#f5f5f5,#fcfcfc);
 background-image: -moz-linear-gradient(top,#f5f5f5,#fcfcfc);
}

/* blue */
.jFiler-input-choose-btn.blue {
 color: #ed193f;
 border: 1px solid #ed193f;
}

.jFiler-input-choose-btn.blue:hover {
 background: #898a8c;
 text-decoration: none;
}

.jFiler-input-choose-btn.blue:active {
 background: #898a8c;
}

/* green */
.jFiler-input-choose-btn.green {
 color: #27ae60;
 border: 1px solid #27ae60;
}

.jFiler-input-choose-btn.green:hover {
 background: #27ae60;
}

.jFiler-input-choose-btn.green:active {
 background: #27ae60;
}

/* red */
.jFiler-input-choose-btn.red {
 color: #ed5a5a;
 border: 1px solid #ed5a5a;
}

.jFiler-input-choose-btn.red:hover {
 background: #ed5a5a;
}

.jFiler-input-choose-btn.red:active {
 background: #E05252;
}

/* black */
.jFiler-input-choose-btn.black {
 color: #555;
 border: 1px solid #555;
}

.jFiler-input-choose-btn.black:hover {
 background: #555;
}

.jFiler-input-choose-btn.black:active {
 background: #333;
}

.jFiler-input-choose-btn.blue:hover,
.jFiler-input-choose-btn.green:hover,
.jFiler-input-choose-btn.red:hover,
.jFiler-input-choose-btn.black:hover {
 border-color: transparent;
 color: #fff;
}

.jFiler-input-choose-btn.blue:active,
.jFiler-input-choose-btn.green:active,
.jFiler-input-choose-btn.red:active,
.jFiler-input-choose-btn.black:active {
 border-color: transparent;
 color: #fff;
 filter: alpha(opacity=87);
 opacity: 0.87;
}

.logistic-l4 .dollar {
     z-index: 999;
     top: 38px;
     left: 15px;
     font-size: 16px;
     position: absolute;

}

.logistic-l4 .input-group input {
     padding-left: 28px;
}

.search-tabmenu .tab-pane.tab-pane-index .form-body {
     background:rgba(137, 138, 140, 0.94) !important;
}

.tab-pane.tab-pane-index .advanced-search label {
     color:#fff !important;
}

.tab-pane.tab-pane-index .checklist-box .remb {
     color:#fff !important;
}

.tab-pane.tab-pane-index .form-body {
 display: block;
 background: blue;
 position: absolute;
 right: 7.7%;
 top: -360px;
 left: 7.7%;
}

.gm-style-iw {
 top: 18px !important;
 position: absolute !important;
 left: 25px !important;
 width: 323px !important;
}

.gm-style-iw img {
     left:0px !important;
}

.adv-search .form-group {
     margin-bottom:0px !important;
}


#property-search-result .btn-toggle-search.index-adv-search {
   padding: 8px 28px 8px 44px;
   background: rgb(137, 138, 140) !important;
   position: absolute;
   right: 0;
   height: 45px;
   bottom: -23px;
}


.people-list {
   width: 260px;
   float: left;
}
.people-list .search {
   padding: 23px;
   background: #444753;
}
.people-list input {
   border-radius: 3px;
   border: none;
   padding: 14px;
   color: white;
   background: #6A6C75;
   width: 90%;
   font-size: 14px;
}
.people-list .fa-search {
   position: relative;
   left: -25px;
}
.people-list ul {
   padding: 20px;
   background: #444753;
   list-style: none;
   color:#fff;
   /*overflow-y: scroll;    */
   height: 693  px;
}
.people-list ul li {
   padding-bottom: 20px;
}
.people-list img {
   float: left;
}
.people-list .about {
   float: left;
   margin-top: 8px;
}
.people-list .about {
   padding-left: 8px;
}
.people-list .status {
   color: #92959E;
}

.chat {
   max-width: 541px;
   float: left;
   background: #F2F5F8;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   color: #434651;
}

.chat-history ul {
     list-style: none;
}

.chat .chat-header {
   padding: 20px;
   border-bottom: 2px solid white;
}
.chat .chat-header img {
   float: left;
}
.chat .chat-header .chat-about {
   float: left;
   padding-left: 10px;
   margin-top: 6px;
}
.chat .chat-header .chat-with {
   font-weight: bold;
   font-size: 16px;
}
.chat .chat-header .chat-num-messages {
   color: #92959E;
}
.chat .chat-header .fa-star {
   float: right;
   color: #D8DADF;
   font-size: 20px;
   margin-top: 12px;
}
.chat .chat-history {
   padding: 30px 30px 20px;
   border-bottom: 2px solid white;
   overflow-y: scroll;
   height: 500px;
}
.chat .chat-history .message-data {
   margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
   color: #a8aab1;
   padding-left: 6px;
}
.chat .chat-history .message {
   color: white;
   padding: 18px 20px;
   line-height: 26px;
   font-size: 16px;
   border-radius: 7px;
   margin-bottom: 30px;
   width: 90%;
   position: relative;
}
.chat .chat-history .message:after {
   bottom: 100%;
   left: 7%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-bottom-color: #86BB71;
   border-width: 10px;
   margin-left: -10px;
}
.chat .chat-history .my-message {
   background: #86BB71;
}
.chat .chat-history .other-message {
   background: #94C2ED;
}
.chat .chat-history .other-message:after {
   border-bottom-color: #94C2ED;
   left: 93%;
}
.chat .chat-message {
   padding: 30px;
}
.chat .chat-message textarea {
   width: 100%;
   border: none;
   padding: 10px 20px;
   font: 14px/22px "Lato", Arial, sans-serif;
   margin-bottom: 10px;
   border-radius: 5px;
   resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
   font-size: 16px;
   color: gray;
   cursor: pointer;
}
.chat .chat-message button {
   float: right;
   color: #94C2ED;
   font-size: 16px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   font-weight: bold;
   background: #F2F5F8;
}
.chat .chat-message button:hover {
   color: #75b1e8;
}

.online, .offline, .me {
   margin-right: 3px;
   font-size: 10px;
}

.online {
   color: #86BB71;
}

.offline {
   color: #E38968;
}

.me {
   color: #94C2ED;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.float-right {
   float: right;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

#style-4::-webkit-scrollbar-track
{
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
     width: 6px;
     background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
     background-color: #111;
     border: 0px solid #555555;
}

.scrollbar
{
     height: 693px;
     overflow-y: scroll;
}

.form-control.index-control,
#comments #respond .comment-form p textarea,
#comments #respond .comment-form p input:not(.submit) {
 border: 1px solid rgb(140, 142, 144);
}

.next-btn.review-btn {
     padding:4px 22px;
     margin-right: 5px;
}

.back-btn.review-edit {
     padding:4px 20px;
}

.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #4364de; padding:5px 15px; color:#fff; font-weight:bold; font-size:13px;}
.popOver + .tooltip > .tooltip-arrow {  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #4364de;}

#footer .footer-column .footer-brand img {
     width:190px;
}

.footer-icon i {
     font-size: 16px;
     padding-top: 4px;

}

#footer {
     background: #1d1e21;
}
.navbar-nav {margin-top: 34px;}
/*.btn-submit.search-list-btn {
 border: 1px solid #fff;
 border-top: none;
 }*/

 .remove-btn-outer {
    position: absolute;
    top: -25px;
    right: -1px;
}

.list-btn-outer {
    position: absolute;
    top: -24px;
    right: 0px;
}


.sign-btn.remove-btn {
     padding: 0px 11px;
     font-size: 12px;
     height: 24px;
     border-radius: 4px 0px 0px 0px;
}

.signin-btn.edit-btn {
     padding: 0px 11px;
     height: 24px;
     font-size: 12px;
     border-bottom-left-radius: 0px;
     border-top-left-radius: 4px;
}

.sign-btn.delete-btn {
     border-top-right-radius: 0px;
     padding: 0px 11px;
     border-bottom-right-radius: 0px;
     height: 24px;
     font-size: 12px;
}

.property-listing  {
     margin-top: 25px;
}

.pop-signup {
 border: 1px solid #ed193f;
 padding: 5px 20px;
 color: #ed193f !important;
}

.pop-signin {
 border: 1px solid #ed193f;
 padding: 5px 20px;
 color: #ed193f !important;
}

.pop-signup:hover, .pop-signin:hover {
     background: #767677;
     color:#fff !important;
     border:1px solid #767677;
}

.social-circle.share-icon li a {
     border-radius: 0;
     line-height: 38px;
}

.agent-tab.nav-tabs > li {
     margin-right: 0px !important;
}

.property-padding {
     padding-right: 0px;
}

/* Media Query */

@media (min-width: 1400px) {

     .tab-pane.tab-pane-index .form-body {
      right: 21.3%;
      top: -360px;
      left: 21.3%;
 }

}

@media (max-width: 1200px) {

     .property-item.no-padding {
          padding:15px !important;
     }

     #header #navbar {
          margin-top:-96px;
     }

     .widget .recent-property > li .property-content .property-price {
         margin: 2px 0;
    }

    .widget .recent-property > li .property-content .property-footer li {
      margin-right: 15px;
 }

  .property-padding {
          padding-left: 0px;
     }
}


@media (max-width: 991px) {
     .user-dropdown {
          margin-left: 21px;
     }

     .nav > li > a {
          padding: 9px 6px;
     }    

     .navbar-nav {
         margin: 1.25px -12px;
         margin-top: 34px;
    }

    #header #navbar {
     margin-top:0px;
}

.border-btns {
     padding: 5px 15px;
}

.host-btn {
     padding: 5px 10px;
     margin-right: 10px;
}

#header #navbar .dropdown.expand-menu > .dropdown-menu {
     position: absolute;
}

.tab-pane.tab-pane-index .form-body {
 right: 10%;
 top: -360px;
 left: 10%;
}


.header-index-bg {
     height:780px; 
     padding-top: 15px;
     padding-bottom: 200px; 

}

.tab-pane.tab-pane-index .form-body {
 right: 120px;
 top: -560px;
 left: 120px;
}

.property-item .property-label__type.show-email, 
.property-item .property-label__type.show-phone {
     margin-bottom: 0px;
}

}

@media (max-width: 768px) {
     .panel-bg .panel-body {
      padding: 30px;
 }
 .panel-bg .submit {
      width:100%;
 }

 .people-list {
     width: 100%;
}

.urs-inbox .no-padd-right {
     padding-right: 15px;
}

.urs-inbox .no-padd-left {
     padding-left: 15px;
}

.chat {
    max-width: 100%;
}


.panel-bg {
 padding: 60px 0px 50px;
}
.double-bed {
 margin-top: 30px;
}

.login-popup .modal-dialog {
 margin: 80px 15px !important;
}

.login-popup.sign-pop .modal-dialog {
     margin: 35px 15px !important;
}

.social-icon ul.social-network {
     padding:0px;
}

.property-item.property-archive .property-image.listing-property-img {
     height:auto;
}

.property-item.property-archive.property-archive .property-content.listing-content {
     height:auto;
}

#footer .footer-body .footer-column {
    text-align: center;
}

.header-index-bg {
 height:780px; 
 padding-top: 15px;
 padding-bottom: 200px; 

}

.property-simple-search .title {
     font-size:32px;
     line-height: 20px;
}

.tab-pane.tab-pane-index .form-body {
 right: 15px;
 top: -560px;
 left: 15px;
}

iframe {
     width:100%;
     height:200px;
}

.profile_pg .user-dashboard {
     margin-bottom: 40px;     
}

}
@media (max-width: 550px) {
     .section-bg {
      padding:30px 0px 50px;
 }
 .section-bg hr {
      border-top: 1px solid #cdcbcb;
 }
 .section-bg h2 {
      padding-bottom: 0px;
      line-height: 30px;
      font-size: 24px;
 }
 .section-bg .form-group label{
      font-size: 15px;
      padding-top: 10px;
 }
 .section-bg p {
      line-height: 22px;
      font-size: 16px;
 }
 .section-bg select, .section-bg input {
      font-size: 14px;
      color:#656565;
 }
 .with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
      color: #fff;
      width:100%;
      font-size:14px;
      text-align: center;
 }
 .panel-bg .nav > li > a {
      padding: 8px 15px;
 }

 .section-bg h3 {
     font-size:18px;
}

.property-simple-search .title {
     font-size:24px;
}

.property-simple-search .description {
     font-size: 14px;
     line-height: 22px;
}

.tab-pane.tab-pane-index .form-body {
 top: -600px;  
}

.search-tabmenu .nav-tabs > li {
     width: 100%;
     margin-bottom: 1px;

}
@media screen and (max-height: 450px) {
     .sidenav {
       padding-top: 45px;
  }
  .sidenav a {
       font-size: 18px;
  }

  .header-index-bg {
    height: 820px;
    padding-top: 15px;
    padding-bottom: 200px;
}

}
